services:
  - type: web
    name: todo-backend
    env: python
    plan: free
    buildCommand: "./build.sh"
    startCommand: "gunicorn backend.backend.wsgi:application"
    #                                    ↑↑↑↑↑↑
    # Ajoutez un deuxième "backend." ici
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: todo-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: false
      - key: ALLOWED_HOSTS
        value: ".onrender.com"

databases:
  - name: todo-db
    plan: free